@page "/createhospitalization"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager
@inject SignInManager<ApplicationUser> signInManager
@attribute [Authorize]

<div class="d-flex justify-content-center">
	<div class="col-9 form-group">
		@if (user.Role != 3)
		{
			<EditForm Model="@hospitalization" OnValidSubmit="HandleValidSubmit">

				<h4 class="text-center">Opret indlæggelse af en patient</h4>
				<hr />

				<ValidationMessage For="@(() => hospitalization.PatientId)" />
				<label class="control-label">Patient</label>
				<div class="input-group">
					<input @onfocusout="GetPatient" required placeholder="Indtast cpr nummer" @bind="patient.UserName" class="form-control">
					<div class="input-group-append">
						<button type="button" @onclick="GetPatient" class="btn btn-outline-secondary">
							<i class="bi bi-search"></i>
						</button>
					</div>
				</div>
				@if (patient.Firstname != null)
				{
					<label class="control-label">Patienten er: @patient.Firstname @patient.Lastname</label>
					<br />
				}

				<ValidationMessage For="@(() => hospitalization.Reason)" />
				<label class="control-label">Begrundelse for indlæggelse</label>
				<input placeholder="Begrundelse for indlæggelse" class="form-control" @bind-value="hospitalization.Reason" />

				<ValidationMessage For="@(() => hospitalization.TimeOfHospitalized)" />
				<label class="control-label">Dato for indlæggelse</label>
				<RadzenDatePicker Min="DateTime.Now" @bind-Value="hospitalization.TimeOfHospitalized" ShowTime="true" HoursStep="1" MinutesStep="5" Change=@(args => OnChange(args, "DatePicker with time", "dd/MM/yyyy HH:mm")) DateFormat="dd/MM/yyyy HH:mm" Class="form-control">
					<FooterTemplate>
						<RadzenButton Click=@OnTodayClick Text="Today" />
					</FooterTemplate>
				</RadzenDatePicker>

				<ValidationMessage For="@(() => hospitalization.HospitalId)" />
				<label class="control-label">Hospital</label>
				<select class="form-control" required @bind=" hospitalization.HospitalId">
					<option value="">Vælg Hospital</option>
					@if (hospitals == null)
					{
						<option>Loading..</option>
					}
					else
					{
						@foreach (var hospital in hospitals.OrderBy(h => h.Name))
						{
							<option value="@hospital.Id">@hospital.Name</option>
						}
					}
				</select>
				<br />
				<button class="btn btn-success">Opret</button>
				<a href="/" class="btn btn-secondary">Annuller</a>

			</EditForm>
		}
	</div>
</div>


@code {
	private Hospitalization hospitalization = new Hospitalization();

	public ApplicationUser user = new ApplicationUser();

	private ApplicationUser patient = new ApplicationUser();

	private List<Hospital> hospitals = new List<Hospital>();

	protected override async Task OnInitializedAsync()
	{
		hospitals = _hospitalizedRepo.GetAllHospitals().ToList();

		user = await userManager.GetUserAsync(signInManager.Context.User);

		hospitalization.TimeOfHospitalized = DateTime.Now;
	}

	void OnChange(DateTime? value, string name, string format)
	{
	}

	void OnTodayClick()
	{
		hospitalization.TimeOfHospitalized = DateTime.Now;
	}

	private async Task GetPatient()
	{
		patient = await userManager.FindByNameAsync(patient.UserName);
		@if (patient != null)
		{
			hospitalization.PatientId = patient.Id;
		}
		else
		{
			patient = new ApplicationUser();
			toastService.ShowError("Kunne ikke find en patient med dette cpr nummer");
		}
	}

	public async Task HandleValidSubmit()
	{
		await _hospitalizedRepo.CreateHospitalization(hospitalization);

		StateHasChanged();

		toastService.ShowSuccess("Booking af indlæggelse er oprettet");
		NavigationManager.NavigateTo("/");
	}
}
