@page "/editavailable/{availableId:int}"
@inject NavigationManager NavigationManager
@inject UserManager<ApplicationUser> userManager

<EditForm Model="@available" OnValidSubmit="HandleValidSubmit">
	<DataAnnotationsValidator />
	<h4>Redigere tidspunkt</h4>
	<hr />
	<ValidationMessage For="@(() => available.Date)" />
	<label class="control-label">Dato</label>
	<input type="datetime" class="form-control" @bind-value="available.Date" />

	<ValidationMessage For="@(() => available.EmployeeId)" />
	<label class="control-label">Tid</label>
	<select class="form-control" required @bind="available.EmployeeId">
		<option value="">Vælg en Læge/sygepjeleske</option>
		@if (Employees == null)
		{
			<option>Loading..</option>
		}
		else
		{
			@foreach (var employee in Employees)
			{
				<option value="@employee.Id">@employee.Firstname @employee.Lastname</option>
			}
		}
	</select>

	<button class="btn btn-success">Gem</button>
	<a href="/" class="btn btn-secondary">Annuller</a>

</EditForm>

@code {
	[Parameter]
	public int availableId { get; set; }

	Available available = new Available();

	private List<ApplicationUser> Employees = new List<ApplicationUser>();

	protected override async Task OnInitializedAsync()
	{
		
		available = await _availableRepo.GetAvailableById(availableId);
		List<ApplicationUser> applicationUsers = userManager.Users.ToList();

		Employees.AddRange(applicationUsers.Where(e => e.Role != 0));

	}

	public async Task HandleValidSubmit()
	{
		await _availableRepo.UpdateAvailable(available);

		StateHasChanged();
		toastService.ShowSuccess("Tiden blev ændret");
		NavigationManager.NavigateTo("/");
	}
}